
.page {
    background-color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh; 
    width: 100vw;
}
.signup-title {
    text-align: center;
    margin: 10px 0;
}

.signup-subtitle {
    text-align: center;
    color: gray;
    margin-bottom: 20px;
}
.main {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 500px;
    gap: 15px;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.sub .img {
    height: 80px;
    width: 400px;
    object-fit: contain; 
}

.sub input {
    display: block;
    width: 250px;
    height: 35px;
    padding: 5px;
    border: 1px solid #ccc; 
}
.sub input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.sub .button{
    background-color: blue;
}
.sub .button:hover{
    background-color:darkblue;
}
.sub .button:active{
    background-color: #003f7f;
}